{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="container">
            <h2>Page de présentation d'un produit innovant</h2>
        </div>
    </div>
{% endblock %}